
.card {
  width: 300px;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.5);
  background-color: #f3f1f1 !important;
  font-family: sans-serif;
}

.card-header {
  padding: 22px;
  display: flex;
  color: rgb(189, 78, 78);
  align-items: center;
  gap: 12px;
}

.card-avatar {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  font-weight: 700;
  background: rgba(255, 255, 255, 0.6);
  align-items: center;
  justify-content: center;
  display: flex;
}

.card-name {
  font-weight: 700;
  color: rgb(22, 21, 21);
}

.card-username {
  font-size: 12px;
  font-weight: 800;
  color: rgb(41, 39, 39);
  font-size: 14px;
  margin-top: 3px;
  font-weight: 600;
}

.card-body {
  padding: 6px 20px 20px;
}

.field {
  padding: 6px 0;
  font-size: 13px;
}

.field-label {
  margin-bottom: 8px;
  font-size: 10px;
  font-weight: 600; 
  letter-spacing: 0.8px;
  text-transform: uppercase;  
  color: #646a72;
}

.field-value a {
  text-decoration: none;
  color: #2563eb;
}